<%= form_for(@wstudent) do |f| %>
  <% if @wstudent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wstudent.errors.count, "error") %> prohibited this wstudent from being saved:</h2>

      <ul>
      <% @wstudent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
Name: <%= f.text_field :name, :id => "name" %><br><br>
ID: <%= f.text_field :student_id, :id => "cid" %><br><br>
Gender: 
<%= f.select :sex, options_for_select([["Male", "Male"], ["Female", "Female"]]) %><br><br>
Class year: <%= f.text_field :class_year%><br><br>
Address: <%= f.text_field :address, :id => "address" %><br><br>
US_Phone: <%= f.text_field :us_phone %><br><br>
Chinese_Phone: <%= f.text_field :cn_phone%><br><br>
Wechat ID: <%= f.text_field :wechat, :id => "wechat" %><br><br>
Email: <%= f.text_field :email, :id => "email" %><br><br>
Date of birth: <%= f.text_field :dob, :id => "dob" %><br><br>

  <div class="actions">
    <button id="singlebutton" name="singlebutton" class="btn btn-success">Submit</button>
  </div>
<% end %>
