<p id="notice"><%= notice %></p>

<div class="container">
<div class="row">
	<div class="col-md-3">
      <!-- Left column -->
      <ul class="nav nav-stacked">
            <li><%=link_to "My Homepage", user_path(current_user)%> </li>
            <li><%=link_to "Project List", "/projects"%> </li>
            <li><%=link_to "Customer List", "/customers"%> </li>
            <li><%=link_to "Create New Project", "/projects/new"%> </li>
            <li><%=link_to "Create New Customer", "/customers/new"%> </li>
            <li><%=link_to "Edit my profile", edit_user_path(current_user)%> </li>
            <li><%=link_to "Log out", destroy_user_session_path,:method => :delete %></li>
      </ul>
  	</div><!-- /col-3 -->
    <div class="col-md-9">
      	
      <!-- column 2 -->	
            <a href="#"><strong><i class="glyphicon glyphicon-dashboard"></i> W Student Profile</strong></a> 
            <div><%=mail_to @user.email,"Send email to the customer"%><div>
    <hr>  
    
<b>Student Name:</b>&nbsp;&nbsp;   <%=@user.name%><br><br>
<b>Student email:</b>&nbsp;&nbsp;    <%=@user.email%><br><br>
<b>Student id:</b>&nbsp;&nbsp;    <%=@user.student_id%><br><br>
<b>Student Date of Birth:   </b>&nbsp;&nbsp;<%=@user.dob%><br><br>
<b>Student Gender:</b>  &nbsp;&nbsp;<%=@user.sex%><br><br>
<b>Student Class Year:</b> &nbsp;&nbsp; <%=@user.class_year%><br><br>
<b>Student Wechat:</b>  &nbsp;&nbsp; <%=@user.wechat%><br><br>
<b>Student US Phone:</b> &nbsp;&nbsp;  <%=@user.us_phone%><br><br>
<b>Student CN Phone:</b> &nbsp;&nbsp; <%=@user.cn_phone%><br><br>
<b>Student Address:</b> &nbsp;&nbsp; <%=@user.address%><br>
<%if @user.city!=""%>
<%=@user.city%>,&nbsp;
<%end%>
<%if @user.state!=""%>
<%=@user.state%>,&nbsp;<%end%>
<%if @user.zip!=""%>
<%=@user.zip%>
<%end%>
<br>

<br><%= link_to 'Edit', edit_wstudent_path(@wstudent) %> |
<%= link_to 'Back', wstudents_path %>

		<div class="row">
           
            
          <br>

</div>
</div>

<!-- /Main -->

        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>



        
        <!-- JavaScript jQuery code from Bootply.com editor -->
        
        <script type='text/javascript'>
        
        $(document).ready(function() {
        
            $(".alert").addClass("in").fadeOut(4500);

/* swap open/close side menu icons */
$('[data-toggle=collapse]').click(function(){
  	// toggle icon
  	$(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
});
        
        });
        
        </script>


