<%= form_for(@customer) do |f| %>

Name: <%= f.text_field :name, :id => "name" %><br><br>
ID: <%= f.text_field :customer_id, :id => "cid" %><br><br>
Address: <%= f.text_field :address, :id => "address" %><br><br>
Phone: <%= f.text_field :phone, :id => "phone" %><br><br>
Compnay: <%= f.text_field :company, :id => "company" %><br><br>
Wechat ID: <%= f.text_field :wechat, :id => "wechat" %><br><br>

Project: <%= f.text_field :project, :id => "project" %><br><br>
Client Status: 
<%= f.select :status, [['I-526 Application','I-526 Application'],['I-526 Approval','I-526 Approval'],['Interview','Interview'],['Conditional Green Card','Conditional Green Card'],['I-829 Application','I-829 Application'],['Permanent Green Card','Permanent Green Card']] %><br><br>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
