<%= form_for(@customer) do |f| %>

Name: <%= f.text_field :name, :id => "name" %><br>
ID: <%= f.text_field :customer_id, :id => "cid" %><br>
Address: <%= f.text_field :address, :id => "address" %><br>
Phone: <%= f.text_field :phone, :id => "phone" %><br>
Compnay: <%= f.text_field :company, :id => "company" %><br>
Wechat ID: <%= f.text_field :wechat, :id => "wechat" %><br>

Project: <%= f.text_field :project, :id => "project" %><br>
Client Status: <%= f.text_field :status, :id => "status" %><br>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
