<%= form_for(@customer) do |f| %>

Name: <%= f.text_field :name, :id => "name" %><br><br>
ID: <%= f.text_field :customer_id, :id => "cid" %><br><br>
Gender: 
<%= f.select :sex, options_for_select([["Male", "Male"], ["Female", "Female"]]) %><br><br>
Address: <%= f.text_field :address, :id => "address" %><br><br>
US_Phone: <%= f.text_field :us_phone %><br><br>
Chinese_Phone: <%= f.text_field :cn_phone%><br><br>
Compnay: <%= f.text_field :company, :id => "company" %><br><br>
Wechat ID: <%= f.text_field :wechat, :id => "wechat" %><br><br>
Email: <%= f.text_field :email, :id => "email" %><br><br>
Date of birth: <%= f.text_field :date_of_birth, :id => "dob" %><br><br>
Project: <%= f.collection_select :project, @projects,  :id,:name %><br><br>
Client Status: 
<%= f.select :status, [['I-526 Application','I-526 Application'],['I-526 Approval','I-526 Approval'],['Interview','Interview'],['Conditional Green Card','Conditional Green Card'],['I-829 Application','I-829 Application'],['Permanent Green Card','Permanent Green Card'],['Potential Client','Potential Client']] %><br><br>

<h3>Other family member</h3>
Name2: <%= f.text_field :name1, :id => "name2" %><br><br>
Date of birth: <%= f.text_field :date_of_birth1, :id => "dob1" %><br><br>
US_Phone: <%= f.text_field :us_phone1 %><br><br>
Chinese_Phone: <%= f.text_field :cn_phone1%><br><br>
Wechat ID 2: <%= f.text_field :wechat1, :id => "wechat1" %><br><br>
Email: <%= f.text_field :email1, :id => "email1" %><br><br>
Name3: <%= f.text_field :name2, :id => "name3" %><br><br>
Date of birth: <%= f.text_field :date_of_birth2, :id => "dob2" %><br><br>
US_Phone: <%= f.text_field :us_phone2%><br><br>
Chinese_Phone: <%= f.text_field :cn_phone2%><br><br>
Wechat ID 3: <%= f.text_field :wechat2, :id => "wechat2" %><br><br>
Email: <%= f.text_field :email2, :id => "email2" %><br><br>
Name4: <%= f.text_field :name3, :id => "name4" %><br><br>
Date of birth: <%= f.text_field :date_of_birth3, :id => "dob3" %><br><br>
US_Phone: <%= f.text_field :us_phone3%><br><br>
Chinese_Phone: <%= f.text_field :cn_phone3%><br><br>
Wechat ID 4: <%= f.text_field :wechat3, :id => "wechat2" %><br><br>
Email: <%= f.text_field :email3, :id => "email3" %><br><br>

<h3>User Activities</h3><br>
First met time:
<%= f.text_field :firstAct, :id => "firstact" %><br><br>
Current Activities: <%= f.text_area :recent_act, :id => "recent_act" %><br><br>

Additional Comments: <%= f.text_area :comments, :id => "comments" %><br><br>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <button id="singlebutton" name="singlebutton" class="btn btn-success">Submit</button>
  </div>
<% end %>
