<h1>Customers</h1>
<br>
<br>

<table class="table table-condensed">
  <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Project</th>
        <th>Wechat ID</th>
        <th>Phone</th>
      <th></th>
  
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%=customer.customer_id%></td>
        <td><%=customer.name%></td>
        <td><%=customer.status%></td>
        <td><%=customer.project%></td>
        <td><%=customer.wechat%></td>
        <td><%=customer.phone%></td>
        <td><%= link_to 'Show', customer %> | <%= link_to 'Edit', edit_customer_path(customer) %> | <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
