





<div class="container">
<div class="row">
	<div class="col-md-3">
      <!-- Left column -->
      <ul class="nav nav-stacked">
            <li><%=link_to "My Homepage", user_path(current_user)%> </li>
            <li><%=link_to "Project List", "/projects"%> </li>
            <li><%=link_to "Customer List", "/customers"%> </li>
            <li><%=link_to "Create New Project", "/projects/new"%> </li>
            <li><%=link_to "Create New Customer", "/customers/new"%> </li>
            <li><%=link_to "Edit my profile", edit_user_path(current_user)%> </li>
            <li><%=link_to "Log out", destroy_user_session_path,:method => :delete %></li>
      </ul>
  	</div><!-- /col-3 -->
    <div class="col-md-9">
      	
      <!-- column 2 -->	
            <a ><strong><i class="glyphicon glyphicon-dashboard"></i> Customers</strong></a> <br/>
<span class="glyphicon glyphicon-plus-sign"></span>  
<%= link_to 'Add New Customer', new_customer_path %>    <br>
    <table class="table table-condensed">
  <thead>
    <tr>
      <th ><%=link_to "ID", {:controller => "customers", :action => "index", :ranking =>"id"}%></th>
        <th><%=link_to "Name", {:controller => "customers", :action => "index", :ranking =>"name"}%></th>
        <th><%=link_to "Status", {:controller => "customers", :action => "index", :ranking =>"status"}%></th>
        <th><%=link_to "Project", {:controller => "customers", :action => "index", :ranking =>"project"}%></th>
        <th><%=link_to "Wechat ID", {:controller => "customers", :action => "index", :ranking =>"wechat"}%></th>
        <th><%=link_to "US Phone", {:controller => "customers", :action => "index", :ranking =>"phone"}%></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%=customer.customer_id%></td>
        <td><%=customer.name%></td>
        <td><%=customer.status%></td>
        <td><%=Project.find(customer.project).name%></td>
        <td><%=customer.wechat%></td>
        <td><%=customer.us_phone%></td>
        <td><%= link_to 'Show', customer %> | <%= link_to 'Edit', edit_customer_path(customer) %> | <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
		<div class="row">
           
            
          <br>

</div>
</div>
<!-- /Main -->


        
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>



        
        <!-- JavaScript jQuery code from Bootply.com editor -->
        
        <script type='text/javascript'>
        
        $(document).ready(function() {
        
            $(".alert").addClass("in").fadeOut(4500);

/* swap open/close side menu icons */
$('[data-toggle=collapse]').click(function(){
  	// toggle icon
  	$(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
});
        
        });
        
        </script>
       



