<div class="container">
<div class="row">
	<div class="col-md-3">
      <!-- Left column -->
      <ul class="nav nav-stacked">
            <li><%=link_to "My Homepage", user_path(current_user)%> </li>
            <li><%=link_to "Project List", "/projects"%> </li>
            <li><%=link_to "Customer List", "/customers"%> </li>
            <li><%=link_to "Create New Project", "/projects/new"%> </li>
            <li><%=link_to "Create New Customer", "/customers/new"%> </li>
            <li><%=link_to "Edit my profile", edit_user_path(current_user)%> </li>
            <li><%=link_to "Log out", destroy_user_session_path,:method => :delete %></li>
      </ul>
  	</div><!-- /col-3 -->
    <div class="col-md-9">
      	
      <!-- column 2 -->	
            <a ><strong><i class="glyphicon glyphicon-dashboard"></i> Customer Profile</strong></a> <br/>
<span class="glyphicon glyphicon-plus-sign"></span>  
<%= link_to 'Add New Customer', new_customer_path %>    <br>
 <br>
    <b>Name:</b>    <%=@customer.name%><br>
<b>ID:</b>  <%=@customer.customer_id%><br>
Date of birth: <%=@customer.date_of_birth%><br>
Gender: <%=@customer.sex%><br>
US Phone: <%=@customer.us_phone%><br>
Chinese Phone: <%=@customer.cn_phone%><br>
Address: <%=@customer.address%><br>
WeChat ID: <%=@customer.wechat%><br>
Email: <%=@customer.email%><br>
Project: <%=@user_project.name%><br>
Status: <%=@customer.status%><br>
<p></p>

<h3>Other family member</h3>
Name2: <%=@customer.name1%><br>
Date of birth: <%=@customer.date_of_birth1%><br>
US Phone: <%=@customer.us_phone1%><br>
Chinese Phone: <%=@customer.cn_phone1%><br>
WeChat ID2: <%=@customer.wechat1%><br>
Email: <%=@customer.email1%><br>
<br>
Name3: <%=@customer.name2%><br>
Date of birth: <%=@customer.date_of_birth2%><br>
US Phone: <%=@customer.us_phone2%><br>
Chinese Phone: <%=@customer.cn_phone2%><br>
WeChat ID3: <%=@customer.wechat2%><br>
Email: <%=@customer.email2%><br>
<br>
Name4: <%=@customer.name3%><br>
Date of birth: <%=@customer.date_of_birth3%><br>
US Phone: <%=@customer.us_phone3%><br>
Chinese Phone: <%=@customer.cn_phone3%><br>
WeChat ID4: <%=@customer.wechat3%><br>
Email: <%=@customer.email3%><br>
<br>

<h3>User Activities</h3>
First time met: <%=@customer.firstAct%><br>
Current Activities: <%=@customer.recent_act%><br>

Addtional Comments: <%=@customer.comments%><br>

 <br>
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
		<div class="row">
           
            
          <br>

</div>
</div>
<!-- /Main -->


        
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>



        
        <!-- JavaScript jQuery code from Bootply.com editor -->
        
        <script type='text/javascript'>
        
        $(document).ready(function() {
        
            $(".alert").addClass("in").fadeOut(4500);

/* swap open/close side menu icons */
$('[data-toggle=collapse]').click(function(){
  	// toggle icon
  	$(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
});
        
        });
        
        </script>


