<%= form_for(@project) do |f| %>


Project Name: <br>
<%= f.text_field :name, :id => "name" %><br>
Year:<br>
<%= f.text_field :year, :id => "year" %><br>
Project Location: <br>
<%= f.select :location, options_for_select(us_states) %>
<br>
<br>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <button id="singlebutton" name="singlebutton" class="btn btn-success">Submit</button>
  </div>
<% end %>

