<p id="notice"><%= notice %></p>

<h1>Project Information:</h1>
<b><%=@project.name%>  | <%=@project.location%><br></b>
<br>

Customers of this project:
<br>





<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
