<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

<div align = "center"><%=link_to (image_tag "static.squarespace.com.jpg"), "/welcome/index"%>
</div>

<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-center">
        
        <%if  user_signed_in?%>
            <li><%=link_to "My Homepage", user_path(current_user)%> </li>
            <li><%=link_to "W Students", "/wstudents"%> </li>
            <li><%=link_to "Project List", "/projects"%> </li>
            <li><%=link_to "Customer List", "/customers"%> </li>
            <li><%=link_to "Create New Project", "/projects/new"%> </li>
            <li><%=link_to "Create New Customer", "/customers/new"%> </li>
            <li><%=link_to "Edit my profile", edit_user_path(current_user)%> </li>
            <li><%=link_to "Design Page", "/welcome/design"%> </li>
            <li><%=link_to "Logout", destroy_user_session_path,:method => :delete %></li>
        <%end%>
          
      </ul>
    </div>
  </div><!-- /container -->
</div>


<style type="text/css">
            .navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}
        </style>